/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  max-width: 800px;
}

.gambar {
  width: 50%;
  margin-right: 20px;
}

.gambar img {
  width: 100%;
  height: auto;
}

.deskripsi {
  width: 50%;
}

.deskripsi h1 {
  font-size: 32px;
  margin-top: 0;
}

.deskripsi .harga {
  font-size: 24px;
  color: red;
}

.deskripsi button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: seagreen;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.deskripsi button:hover {
  background-color: #0069d9;
} */

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-registration input {
  border-radius: 0;
  margin-bottom: -1px;
}